@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@font-face {
  font-family: 'Font1';
  src: url('./assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'font2';
  src: url('./assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf');
}

body{
  font-family: 'font1';
  background-color: #18171F ;
  color: white;
}

#headText{
  position: absolute;
  margin-bottom: 30rem;
  color: #817D92;
  font-size: 1.1rem;
}

#card{

  width:28rem;
  height:27rem;
  position: relative;
  margin: 2rem 2rem;
}

#passSpace{
  display: flex;
  justify-content: space-between;
  background-color: #24232C;
  padding:  0.7rem 1.5rem;
  
}

#passSpace input{
  width: 65%;
  background-color: transparent;
  color: #E6E5EA;

}

#copier{
  display: flex;
  justify-content: center;
  align-content: center;
}
#copier p{
  color: #A4FFAF;
  margin: 0.35rem;
}
#copier svg{
  margin: 0.35rem;
  fill:#A4FFAF; 
}
#copier svg:hover{
  cursor: pointer;
  fill: #E6E5EA;
}


#downSide{
  background-color: #24232C;
  margin-top: 1.3rem;
  height: 27rem;
}

#lengthSlide{
  padding: 0.9rem 1.5rem;
}

#charLength{
  display: flex;
  justify-content: space-between;
 /* padding: 0.9rem; */
}
#charLength #digit{
  font-size: 1.6rem;

  color: #A4FFAF;
  margin-top: -0.45rem;
}
#charLength #text{
  font-size: 0.99rem;
  font-weight: 400;

  color: #E6E5EA;
  margin-top: 0.22rem;
}

/* input[type="range"] {
  appearance: none;
	width: 100%;
  height: 0.4rem;
  margin-top: 1.2rem;
  accent-color: #A4FFAF;
  background-color: #18171F;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  background: #E6E5EA;
  border: 2px solid #E6E5EA;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  box-shadow: -30rem 30.4rem 0rem 30rem  #A4FFAF ;


}
input[type="range"]::-webkit-slider-thumb:hover{
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #A4FFAF;
  background: #18171F;
  cursor: grab;

}
input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  overflow: hidden;
  width: 0.3rem;
  


} */


#options{
  display: flex;
  padding: 0.9rem 1.5rem;
  flex-direction: column;

}

#opt input{
  /* position: absolute; */
  /* opacity: 0; */
  cursor: pointer;
  /* height: 0;
  width: 0; */
  
}
#opt{
  margin-bottom: 0.7rem;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #24232C;
}
#opt input:checked ~ .checkmark {
  background-color: #2196F3;
}



.container {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.7rem;
  font-size: 0.9rem;
  font-weight:bolder;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0.33rem;
  left: 0;
  height: 0.9rem;
  width: 0.9rem;
  background-color: #18171F;
  border: 2px solid #E6E5EA;
}

.container:hover input ~ .checkmark {
  background-color: #18171F;
}

.container input:checked ~ .checkmark {
  background-color: #A4FFAF;
  border: 0px ;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 0.25rem;
  top: 0.02rem;
  width: 6px;
  height: 12px;
  border: solid #18171F;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#strength{
  padding: 1.2rem;
  margin: auto 1.5rem ;
  display: flex;
  justify-content: space-between;
  background-color: #18171F;
  font-weight: 700;
  font-size: 1.3rem;
}
#strength p{
  color:#817D92 ;
  font-size: 0.99rem;
}
.box{
  width: 0.5rem;
  height: 1.49rem;
  margin-top: 0.27rem;
  margin-left: 0.2rem;
  border: 2px solid #E6E5EA;
  background-color: transparent;

}
#strengthMeter{
  display: flex;

}
#indicator{
  display: flex;
  margin-left: 0.6rem;
}
#generate{
  margin: 1.5rem 1.5rem;
  display: flex;
  justify-content: center;
  background-color: #A4FFAF;
  color: #18171F;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.7rem ;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: 2px solid #A4FFAF;
}
#generate p{
  margin-right: 0.7rem;
}
#generate svg{
  margin-top: 0.5rem;
  fill:#24232C;
}


#generate:hover{
  transform: translateY(-0.4rem);
  border: 2px solid #A4FFAF;
  background-color: #24232C;
  color: #A4FFAF;
 
  svg{
    fill: #A4FFAF;
  }
  
}



















/* === range theme and appearance === */
input[type="range"] {
	font-size: 1.5rem;
  margin-top: 0.7rem;
	width: 100%;
}

input[type="range"] {
	color: #A4FFAF;
	--thumb-height: 1.125em;
	--track-height: 0.125em;
	--track-color: #18171F ;
	--brightness-hover: 180%;
	--brightness-down: 180%;
	--clip-edges: 0.125em;
}


input[type="range"] {
	background: #24232C;
	overflow: hidden;
}

input[type="range"]:active {
	cursor: grabbing;
}



/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	position: relative;

}

input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(#18171F 0 0) scroll no-repeat left center /
		0% calc(var(--track-height) );
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));
  border-color: #A4FFAF;

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

input[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
  background-color: #18171F;
  color: #53e753;
  border: 2px solid #53e753;
  
}



input[type="range"]:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
	cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
	appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	background: #24232C;
}

input[type="range"]::-moz-range-thumb {
	background: currentColor;
	border: 0;
	width: var(--thumb-width, var(--thumb-height));
	border-radius: var(--thumb-width, var(--thumb-height));
	cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
	cursor: grabbing;
}

input[type="range"]::-moz-range-track {
	width: 100%;
	background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
	height: calc(var(--track-height) + 1px);
	border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
	filter: brightness(var(--brightness-hover));
  background-color: #A4FFAF;
  color: #A4FFAF;
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
	filter: brightness(var(--brightness-down));
}

input[type="range"]:disabled::-moz-range-thumb {
	cursor: not-allowed;
}
